* {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

main {
display: flex;
flex-wrap: wrap;
margin-top: 2%;
}

.site-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    vertical-align: middle;
    background: #13293d;
    color: #ffffff;
}

.site-header h1 {
    font-size: 250%;
    vertical-align: center;
    margin-top: 3%;
}

.site-header li {
    display: inline-block;
}

.nav-item {
    display: inline-block;
    font-size: 150%;
    text-align: end;
    padding: 20px;
    text-decoration: none;
    color: #ffffff;
}
.about-me {
    background: #343434;
    color: #ffffff;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
}

.about-me {
    display: flex;
    align-items: center;
    background: #343434;
    color: #ffffff;
    justify-content: space-around;
    width: 100%;
    padding: 2%;
}

.about-me h2 {
    margin: 0px 20px;
    padding-left: 100px;
    font-size: 250%;
    text-decoration: underline;
    font-style: italic;
    text-align: center;
}

.divider-1 {
    height: 100px; /* Adjust the height of the vertical line */
    width: 30px; /* Width of the vertical line */
    background-color: #ffffff; /* Color of the vertical line */
    margin: 0 20px; /* Adjust the spacing around the vertical line */
}

.about-me p {
    display: inline-block;
    margin-left: 20px;
    font-size: 100%;
}

.my-work {
    display: flex;
    background: #343434;
    color: #ffffff;
    justify-content: space-around;
    width: 100%;
    padding: 2%;
    margin-top: 2%;
}

.my-work h2 {
    margin: 0px 20px;
    padding-left: 100px;
    font-size: 250%;
    text-decoration: underline;
    font-style: italic;
    text-align: center;
}

.divider-2 {
    width: 15px; /* Width of the vertical line */
    background-color: #ffffff; /* Color of the vertical line */
    margin: 0 20px; /* Adjust the spacing around the vertical line */
}

.my-work-display {
    width: 87%;
    align-content: flex-start;
}

.primary-display {
    background-color: brown;
    width: 95%;
    min-height: 250px;
}

.secondary-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
    grid-template-rows: repeat(2, 1fr); /* 2 rows with equal height */
    gap: 10px; /* Space between grid items */
    margin-top: 2%;
}

.card {
    background-color: aqua;
    width: 90%;
    height: 150px;
    padding: 20px 50px;
    justify-content: space-between;

}

.contact-me {
    display: flex;
    align-items: center;
    background: #343434;
    color: #ffffff;
    width: 100%;
    margin-top: 2%;
}

.contact-me h2 {
    margin: 0px 20px;
    padding-left: 100px;
    font-size: 250%;
    font-style: italic;
    text-align: start;
    text-decoration: underline;
}

.divider-3 {
    height: 100px; /* Adjust the height of the vertical line */
    width: 10px; /* Width of the vertical line */
    background-color: #ffffff; /* Color of the vertical line */
    margin: 0px 8px;
}

.contact-me li {
    display: inline-block;
    padding: 15px;
}

.contact-item {
    font-size: 150%;
    color: #ffffff;
}